@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}
body {
  /* font-family: '87MM-R', 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-size: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
li {
  margin: 0;
}
.slide {
  animation: slide 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation-fill-mode: backwards;
}
.delay01 {
  animation-delay: 0.4s;
}
.delay02 {
  animation-delay: 0.8s;
}
.delay03 {
  animation-delay: 1.2s;
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes flowText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes showUpText {
  0% {
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounse {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, 6px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  50% {
    filter: blur(20px);
  }
  100% {
    filter: blur(10px);
  }
}
